h4 {
    width: 100%;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.row div p:first-child {
    font-size: 10px;
}

.row div p:nth-last-child(2) {
    font-size: 12px;
    text-decoration: underline;
}

.row div p:last-child {
    font-weight: bold;
}
